version: '3.8'
services:
  db:
    image: postgres:latest
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=tvhstats_dev
    volumes:
      - db:/var/lib/postgresql/data
  tvhstats:
    depends_on:
      - db
    build:
      context: .
      dockerfile: ./docker/dev/Dockerfile
    command: elixir --sname tvhstats --cookie tvhstats -S mix phx.server
    entrypoint: ["./docker/dev/entrypoint.sh"]
    environment:
      MIX_ENV: dev
    env_file:
      - .env
    ports:
      - "4000:4000"
    image: tvhstats
    volumes:
      - .:/app

volumes:
  db: